import React from 'react';
import { cn } from '../../core/utils';

interface {{pascalCase name}}Props {
  className?: string;
  children?: React.ReactNode;
}

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({ className, children }) => {
  return (
    <div className={cn('volta-{{kebabCase name}}', className)}>
      {children || '{{pascalCase name}} Component'}
    </div>
  );
};
